<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyASZs0HhJe4MEQGjFuR4pQP9tbffNqTM6s</string>
	<key>GCM_SENDER_ID</key>
	<string>570530684308</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ipg.elite.instax</string>
	<key>PROJECT_ID</key>
	<string>instax-62b5b</string>
	<key>STORAGE_BUCKET</key>
	<string>instax-62b5b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:570530684308:ios:a7e5372600b12ca965c381</string>
</dict>
</plist>